@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700 &family=Cormorant:wght@500;600&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
* {
  margin: 0;
  padding: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.btn-index {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 3vh auto;
  background-color: #caaf8d;
  font-size: 120%;
  font-family: "Hubballi", cursive;
  color: black;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.btn-index:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.secciones,
.navbar-collapse {
  background-color: #f2eee3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background-image: cover;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.barra,
.nav-link {
  color: #f2eee3;
  font-family: "Hubballi", cursive;
  font-size: 15px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  margin: 1.8vw;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  font-weight: 400;
}

.ulNavbar,
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
}

.logo,
.navbar-expand-sm {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.busqueda {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor,
.navbar-expand-sm {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2eee3;
  background-image: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 425px) {
  .sticky {
    top: 0;
    bottom: 0;
    position: static;
  }
  .logo,
  .navbar-brand {
    width: 24vh;
    text-align: end;
  }
  .img {
    width: 60%;
    margin-left: 30vw;
  }
  .contenedor,
  .navbar-expand-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f2eee3;
    background-image: cover;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .logo,
  .navbar-expand-sm {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 880px) {
  .img {
    margin-left: 20%;
    width: 25vw;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 100;
  }
  .btn-index {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    margin: 3vh auto;
    background-color: #caaf8d;
    font-size: 130%;
    font-family: "Hubballi", cursive;
    color: black;
    -webkit-text-decoration: 0;
            text-decoration: 0;
  }
  .btn-index:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-text-decoration: 0;
            text-decoration: 0;
  }
  .secciones,
  .navbar-collapse {
    background-color: #f2eee3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    background-image: cover;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20;
  }
  .barra,
  .nav-link {
    color: #f2eee3;
    font-family: "Hubballi", cursive;
    font-size: 18px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    margin: 1.5vw;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20;
    font-weight: 400;
  }
  .ulNavbar,
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-transform: uppercase;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
  }
  .logo,
  .navbar-expand-sm {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .busqueda {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor,
  .navbar-expand-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f2eee3;
    background-image: cover;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.grid-index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
  margin: 2%;
}

.grid-index div .p_index {
  font-family: "Hubballi", cursive;
  font-size: 150%;
  text-align: center;
  color: #534027;
}

.grid-maltrato {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 52% 48%;
      grid-template-columns: 52% 48%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("../imagenes/fondo-nalas5.png");
  background-size: cover;
  background-position: 1%;
  background-size: 50vw;
  background-repeat: no-repeat;
}

.grid-maltrato div .p_maltrato {
  margin: 10vh 5vw;
  text-align: justify;
}

.grid-maltrato div .img-maltrato {
  width: 47vw;
  height: auto;
}

.contenedor-videos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  background-image: url("../imagenes/fondo-nalas5.png");
  background-size: cover;
  background-position: right;
  background-size: 50vw;
  background-repeat: repeat;
}

.contenedor-videos div .videos-maltrato {
  width: 40vw;
  height: 25vw;
  margin-left: 5vw;
  margin-right: 3vw;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 425px) {
  .grid-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    justify-items: center;
    z-index: var(0%);
  }
  .grid-index div .img_index {
    height: auto;
    width: 100%;
  }
  .card {
    width: 95%;
  }
  .p_index {
    font-family: "Hubballi", cursive;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }
  .grid-maltrato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  .grid-maltrato div .p-maltrato {
    font-size: 15px;
    text-align: justify;
    margin: 2vh;
  }
  .grid-maltrato div .img-maltrato {
    width: 90vw;
    height: auto;
  }
  .contenedor-videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor-videos div .videos-maltrato {
    width: 87vw;
    height: 60vw;
    background-image: url("../imagenes/fondo-nalas5.png");
    background-size: cover;
    background-position: cover;
    background-size: 125%;
    background-repeat: repeat;
  }
}

.footer-distributed {
  background: #5e492d;
  text-align: center;
  background-position: center;
  -webkit-box-shadow: 0 1px 1px 0 transparent;
          box-shadow: 0 1px 1px 0 transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px "Hubballi", cursive;
  padding: 55px 50px;
  z-index: 100;
}

.titufooter {
  font: bold 30px "Hubballi", cursive;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed {
  color: #ffffff;
  margin: 0;
  font-family: "Hubballi", cursive bold;
}

.footer-distributed .footer-links {
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-family: bold "Hubballi", cursive;
}

.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  margin: 10px 19px;
  vertical-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #f5e5b9;
  border-radius: 2px;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 35px;
  border-radius: 55%;
  cursor: pointer;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: white;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 2;
  color: white;
}

.footer-distributed .footer-center p a {
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 25px;
  left: 0;
  color: white;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 30px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #f5e5b9;
  border-radius: 2px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  border-radius: 55%;
}

.button {
  --offset: 10px;
  --border-size: 2px;
  position: relative;
  padding: 5%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: #caaf8d;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-box-shadow: inset 0 0 0 var(--border-size) currentcolor;
          box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
  margin: 8%;
  text-align: initial;
  display: block;
}

.button:hover {
  background: rgba(100, 0, 0, 0.03);
}

.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  will-change: transform;
}

.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.email {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 425px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .titufooter {
    font: bold 25px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 70%;
    text-align: auto;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .button {
    margin-left: 25%;
  }
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .button {
    margin-left: 37%;
  }
}

.titulo-principal {
  font-family: "Hubballi", cursive;
  text-align: center;
  margin: 4vw;
  font-size: 80px;
  font-weight: 400;
  color: #534027;
  text-shadow: 0 1px 0, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.subtitulo {
  color: #534027;
  font-family: "Hubballi", cursive;
  text-align: center;
  list-style-type: none;
  margin: 7vh;
  font-size: 200%;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .titulo-principal {
    font-family: "Hubballi", cursive;
    color: #534027;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 4vw;
    text-shadow: 0 1px 0, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  }
  .subtitulo {
    color: #534027;
    font-family: "Hubballi", cursive;
    text-align: center;
    list-style-type: none;
    margin: 10%;
    font-size: 190%;
  }
}

@media only screen and (max-width: 880px) {
  .titulo-principal {
    font-family: "Hubballi", cursive;
    color: #534027;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 4vw;
    text-shadow: 0 1px 0, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  }
  .subtitulo {
    color: #534027;
    font-family: "Hubballi", cursive;
    text-align: center;
    list-style-type: none;
    margin: 8%;
    font-size: 190%;
  }
}

.portada {
  height: 115vh;
  width: auto;
  background-image: url("../imagenes/Portada.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.adopta-portada {
  height: 100vh;
  width: auto;
  background-image: url("../imagenes/adopta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 425px) {
  .portada {
    height: 30vh;
    width: 100%;
    background-image: url("../imagenes/Portada.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .adopta-portada {
    height: 20vh;
    width: 100%;
    background-image: url("../imagenes/adopta.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 880px) {
  .portada {
    height: 40vh;
    width: auto;
    background-image: url("../imagenes/Portada.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .adopta-portada {
    height: 40vh;
    width: auto;
    background-image: url("../imagenes/adopta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.grid_nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 57% 43%;
      grid-template-columns: 57% 43%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1vh 2vw;
  background-image: url("../imagenes/fondo-nalas5.png");
  background-size: center;
  background-position: 0,5%;
  background-size: 51vw;
  background-repeat: no-repeat;
}

.grid_nosotros div .img-nosotos {
  width: 45vw;
  height: auto;
}

.p_nosotros {
  font-size: 23px;
  text-align: justify;
  margin-left: 4vw;
  margin-right: 5vw;
  font-family: "Hubballi", cursive;
}

@media only screen and (max-width: 425px) {
  .grid_nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    height: 50%;
  }
  .grid_nosotros div .img-nosotos {
    width: 325px;
    height: auto;
  }
  .p_nosotros {
    font-size: 15px;
    text-align: justify;
    margin-left: 4vw;
    margin-right: 5vw;
    font-family: "Hubballi", cursive;
  }
}

.adoptar-contenedor {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: #534027;
  font-family: "Hubballi", cursive;
}

.adoptar-contenedor .card-adoptar {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-image: url("../imagenes/fondo-nalas5.png");
  background-size: cover;
  background-position: 80%;
  background-size: 45vw;
  background-repeat: no-repeat;
}

.adoptar-contenedor .card-adoptar:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.adoptar-contenedor .card-adoptar img {
  width: 330px;
  height: 230px;
}

.adoptar-contenedor h2 h1 {
  font-weight: 600;
}

.adoptar-contenedor p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.adoptar-contenedor a {
  font-weight: 500;
  text-decoration: none;
}

.lista {
  text-decoration: none;
  color: #534027;
}

.adoptados-contenedor {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  color: #534027;
  font-family: "Hubballi", cursive;
}

.adoptados-contenedor .card-adoptados {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-image: url("../imagenes/fondo-nalas5.png");
  background-size: cover;
  background-position: 80%;
  background-size: 45vw;
  background-repeat: no-repeat;
}

.adoptados-contenedor .card-adoptados:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.adoptados-contenedor .card-adoptados img {
  width: 330px;
  height: 230px;
}

.adoptados-contenedor h2 h1 {
  font-weight: 600;
}

.adoptados-contenedor p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.adoptados-contenedor a {
  font-weight: 500;
  text-decoration: none;
}

.grid_requisitos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("../imagenes/fondo-nalas5.png");
  background-size: cover;
  background-position: 1%;
  background-size: 55vw;
  background-repeat: no-repeat;
}

.p_requisitos {
  margin: 10vh 5vw;
  text-align: justify;
  font-family: "Hubballi", cursive;
  font-size: 126%;
  list-style-image: url("../imagenes/paticas-perrito.jpg");
}

.contenedor-video-requisitos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.contenedor-video-requisitos .video_requisitos {
  width: 42vw;
  height: 23vw;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.texto_requisitos {
  width: 24em;
  margin: 5% auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Hubballi", cursive;
  color: #534027;
}

.animacion-texto {
  -webkit-animation: textoo 3s;
          animation: textoo 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-weight: bold;
}

@-webkit-keyframes textoo {
  from {
    width: 0;
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    width: 25em;
    border-right-color: transparent;
  }
}

@keyframes textoo {
  from {
    width: 0;
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    width: 25em;
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 425px) {
  .grid_requisitos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    height: 50%;
    text-align: justify;
    background-image: url("../imagenes/fondo-nalas3.png");
    background-size: cover;
    background-position: 100%;
    background-size: 60vw;
    background-repeat: no-repeat;
  }
  .p_requisitos {
    font-size: 15px;
    text-align: justify;
    margin-left: 7%;
  }
  .contenedor-video-requisitos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .contenedor-video-requisitos .video_requisitos {
    width: 90vw;
    height: 50vw;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 3%;
  }
  .texto_requisitos {
    width: 24em;
    margin: 12% auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: "Hubballi", cursive;
    color: #534027;
  }
  .animacion-texto {
    -webkit-animation: textoo 5s;
            animation: textoo 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    font-weight: bold;
  }
  @-webkit-keyframes textoo {
    from {
      width: 0;
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      width: 24em;
      border-right-color: transparent;
    }
  }
  @keyframes textoo {
    from {
      width: 0;
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      width: 24em;
      border-right-color: transparent;
    }
  }
}

@media only screen and (max-width: 880px) {
  .contenedor-video-requisitos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    background-image: url("/imagenes/fond-1.png");
  }
}
/*# sourceMappingURL=style.css.map */