.grid-index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    column-gap: 1vw;
    div {
        .p_index {
            font-family: $variable-font;
            font-size: 150%;
            text-align: center;
            color: map-get($map: $colores, $key: 'parracolor');
        }
    }
}
.grid-maltrato {
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 100%;
    align-items: center;
    align-content: center;
    div {
        .p_maltrato {
            text-align: justify;
            font-family: $variable-font;
        }
    }
}

.contenedor-videos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    div {
        .videos-maltrato {
            width: 40vw;
            height: 25vw;
            margin-left: 5vw;
            margin-right: 3vw;
        }
    }
}

@media only screen and(max-width: 425px) {
    .grid-index {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-items: center;
        z-index: var(0%);
        div {
            .img_index {
                height: auto;
                width: 90%;
                margin: 2vh 5vw;
            }
        }
    }
    .p_index {
        font-family: $variable-font;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
    }
    .grid-maltrato {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        div {
            .p-maltrato {
                font-size: 15px;
                text-align: justify;
                margin: 2vh;
            }
        }
    }
    .img-maltrato {
        width: 90vw;
        height: auto;
    }
    .contenedor-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            .videos-maltrato {
                width: 90vw;
                height: 50vh;
            }
        }
    }

}
