.grid-index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    column-gap: 1vw;
    margin: 2%;
    div {
        .p_index {
            font-family: $variable-font;
            font-size: 150%;
            text-align: center;
            color: map-get($map: $colores, $key: 'parracolor');
        }
    }
}
.grid-maltrato {
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-rows: 100%;
    align-items: center;
    align-content: center;
    background-image: url('../imagenes/fondo-nalas5.png');
    background-size: cover;
    background-position: 1%;
    background-size: 50vw;
    background-repeat: no-repeat;
    div {
        .p_maltrato {
            margin: 10vh 5vw;
            text-align: justify;
        }
        .img-maltrato {
            width: 47vw;
            height: auto;
        }
    }
}

.contenedor-videos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-image: url('../imagenes/fondo-nalas5.png');
    background-size: cover;
    background-position: right;
    background-size: 50vw;
    background-repeat: repeat;
    div {
        .videos-maltrato {
            width: 40vw;
            height: 25vw;
            margin-left: 5vw;
            margin-right: 3vw;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.70s);
        }
    }
}
@media only screen and(max-width: 880px) {
    .grid-maltrato {
        background-image: url('../imagenes/fondo-nalas5.png');
        background-size: cover;
        background-position: 9%;
        background-size: 90vw;
        background-repeat: no-repeat;
    }
    .contenedor-videos {
        background-image: url('../imagenes/fondo-nalas5.png');
        background-size: cover;
        background-position: right;
        background-size: 50vw;
        background-repeat: repeat;
    }
}

@media only screen and(max-width: 425px) {
    .grid-index {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-items: center;
        z-index: var(0%);
        div {
            .img_index {
                height: auto;
                width: 100%;
            }
        }
    }
    .card {
        width: 96%;
    }
    .p_index {
        font-family: $variable-font;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
    }
    .grid-maltrato {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-image: url('../imagenes/fondo-nalas5.png');
        background-position: top;
        background-size: 150%;
        background-repeat: no-repeat;
        div {
            .p-maltrato {
                font-size: 15px;
                text-align: justify;
                margin: 0,5vh;
            }
            .img-maltrato {
                width: 85vw;
                height: auto;
            }
        }
    }
    .contenedor-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            .videos-maltrato {
                width: 80vw;
                height: 60vw;
                background-image: url('../imagenes/fondo-nalas5.png');
                background-size: cover;
                background-position: top;
                background-size: 125%;
                background-repeat: no-repeat;
            }
        }
    }

}
