.portada {
    height: 115vh;
    width: auto;
    background-image: url('../imagenes/Portada.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.adopta-portada {
    height: 100vh;
    width: auto;
    background-image: url('../imagenes/adopta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and(max-width: 425px) {
    .portada {
        height: 30vh;
        width: 100%;
        background-image: url('../imagenes/Portada.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .adopta-portada {
        height: 25vh;
        width: 100%;
        background-image: url('../imagenes/adopta.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
