.grid_requisitos {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    align-items: center;
    align-content: center;
}
.p_requisitos {
    margin: 10vh 5vw;
    text-align: justify;
    font-family: $variable-font;
    font-size: 120%;
}
.contenedor-video-requisitos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    .videos_requisitos {
        width: 42vw;
        height: 23vw;
        align-content: center;
    }
}
.texto_requisitos {
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: $variable-font;
    color: map-get($map: $colores, $key:'parracolor' );
}
.animacion-texto {
    animation: textoo 10s;
    animation-iteration-count: infinite;
    font-weight: bold;
}

@keyframes textoo {
    from {
        width: 0;
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        width: 25em;
        border-right-color: transparent;
    }
}

@media only screen and(max-width: 425px) {
.grid_requisitos {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50%;
    text-align: justify;
}
.p_requisitos {
    font-size: 15px;
    text-align: justify;
    margin: 3vh;
}
.videos_requisitos {
    width: 50vw 80vw;
    align-content: center;
}
.texto_requisitos {
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: $variable-font;
    color: map-get($map: $colores, $key: 'parracolor' );
}
.animacion-texto {
    animation: textoo 5s;
    animation-iteration-count: infinite;
    font-weight: bold;
}
@keyframes textoo {
    from {
        width: 0;
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        width: 24em;
        border-right-color: transparent;
    }
}
}